<form class="uggh">
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
</form>


<div id="map-canvas" class="map-first-load">
</div>

<div class="sidebar first-load">
  <div class="home-picture">
    <img class="image" >
  </div>
  <div class="address-row">
    <div class="address">
      <h2><span class="street"></span></h2>
      <h3><span class="city"></span>, <span class="state"></span> <span class="zip"></span></h3>
      <h4><br><span class="bedrooms"></span> bed <span class="bath"></span> bath <span class="sqft"></span> sqft</h4>
    </div>
    <% if @current_user %>
      <%= form_tag create_bid_path, method: "POST", class: "form" do %>
        <%= text_field_tag "bid[price]", nil, placeholder: "enter your price", class: "bid-form" %>
        <%= text_field_tag "bid[house_id]", nil, type: "hidden" %>
        <%= text_field_tag "house[zillow_id]", nil, class: "zpid" , type: "hidden" %>
        <%= text_field_tag "house[address]", nil, class: "street", type: "hidden" %>
        <%= text_field_tag "house[city]", nil, class: "city", type: "hidden" %>
        <%= text_field_tag "house[state]", nil, class: "state", type: "hidden" %>
        <%= text_field_tag "house[zip]", nil, class: "zip", type: "hidden" %>
        <%= submit_tag "Bid Now!", class: "bid-now-button" %>
      <% end %>
    <% else %>
      <div class="text">
      <div class="bid-now-button">
          Bid Now!
      </div>
      </div>
    <% end %>
    <div class="buy-now-button">
        Buy Now!
    </div>
  </div>

  <div class="house-details">
    <div class="property-details">
      <div class="sale">
        <h2>For Sale</h2>
        <h3>Zestimate®:</h3> $<span class="zestimate"></span>
        <h4><br>Rent Zestimate:</h4> <span class="rent"></span>
      </div>
      <div class="facts">
        <ul>
          <li><strong>Walk Score:</strong> <span class="walk"></span></li>
          <li><strong>Lot:</strong> <span class="lotsqft"></span> sqft</li>
          <li><strong>Type:</strong> <span class="type"></span></li>
          <li><strong>Built:</strong> <span class="year"></span></li>
          <li><strong>Neighborhood:</strong> <br><span class="neighborhood"></span> </li>
        </ul>
      </div>
    </div>
    <div class="property-details">
      <div class="description">
        <h3>Description:</h3>
        <p><span class="description"></span></p>
        <p class="auto-describe" style="display: none">
          This property is <span class="sqft"></span> sqft with a lot size of <span class="lotsqft"></span> sqft and was built in <span class="year"></span>. Located in the <span class="neighborhood"></span> neighborhood with a walk score of <span class="walk"></span>, it's most certainly a great place to live.
        </p>
      </div>
    </div>
    <div class="property-details">
      <div class="facts2">
        <ul>
          <li><strong>Date last sold:</strong> <span class="sold-date"></span> </li>
          <li><strong>Price last sold:</strong> $<span class="sold-price"></span></li>
        </ul>
      </div>
    </div>
    <div class="zillow-pictures">
    </div>
    <div class="bid-history">
      <h2 class="account-header">Last 10 bids</h2>
      <span class="no-bids"></span>
        <table class="zebra">
          <colgroup span="2"></colgroup>
          <tr>
            <th>Date</th>
            <th>Price</th>
          </tr>
        </table>
    </div>
  </div>
</div>
