<div class="sign-in-up">

  <h1>Sign Up</h1>

  <%= form_tag "/new-user" do %>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <%= email_field_tag "user[email]", nil, placeholder: "email", class: "email", :required => true  %>
    <br>
    <%= text_field_tag "user[username]", nil, placeholder: "username", class: "username", :required => true  %>
    <br>
    <%= password_field_tag "user[password]", nil, placeholder: "password", class: "password", :required => true  %>
    <br>
    <%= password_field_tag "user[password_confirmation]", nil, placeholder: "password confirmation", class: "password_confirmation", :required => true %>
    <br>
    <%= text_field_tag "user[current_city]", nil, placeholder: "current city", class: "current_city", :required => true  %>
    <br>
    <%= submit_tag "Sign Up" %>
  <%end%>

</div>
