<!DOCTYPE html>
<html>
<head>
  <title>AuctionHouse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if flash.key?(:notice) %>
  <div class = 'alert alert-info'>
    <%= flash[:notice] %>
  </div>
<% end %>  

<%= yield %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTc8wb5zAQilJ4EhAYSndwdxbrwzGr8eY" type="text/javascript"></script>

</body>
</html>
