<!DOCTYPE html>
<html>
<head>
  <title>AuctionHouse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <%= link_to image_tag("logo.jpg", class: "logo"), root_path %>
    <div class="nav">
      <% if !@current_user %>
        <div class="right"><%= link_to "Sign Up", new_user_path %></div>
        <div class="right"><%= link_to "Sign In", "/user-sign-in" %></div>
      <% else %>
        <div class="right"><%= link_to "Bid", "#" %></div>
        <div class="right"><%= link_to "My Account", "#" %></div>
        <div class="right"><%= link_to "Sign Out", sign_out_path %></div>
      <% end %>
    </div>
  </div>


<% if flash.key?(:notice) %>
  <div class = 'alert alert-info'>
    <%= flash[:notice] %>
  </div>
<% end %>

<%= yield %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTc8wb5zAQilJ4EhAYSndwdxbrwzGr8eY&libraries=places&callback=initialize" type="text/javascript"></script>

  <div id="footer">
    <div class="center">
      <%= image_tag("copyright.png") %>
      <span>Auction House</span>
    </div>
  </div>
</body>
</html>
